html {
    font-family: sans-serif;
}

body>header {
    background-color: #236ab9;
    height: 60px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 5rem;
}

body>header img {
    float: left;
    margin: 0px 20px;
    height: 60px;
}

body>header h1 {
    color: white;
    font-family: sans-serif;
    font-size: 2rem;
}

main h1 {
    font-size: 1.4rem;
    display: inline-block;
    background-color: #236ab9;
    color: white;
    margin: 10px 0px;
    padding: .1em 1em;
    border: 2px solid #2E4A62;
    border-radius: 40px 10px;
}

ul li a {
    display: block;
}

table {
    border: 1px;
    border-style: groove;
    border-color: black;
}

table tr:nth-child(even) {
    background-color: #eaf2fb;
}

table th {
    background-color: #236ab9;
    color: white;
    padding: 2px 10px;
}

table td {
    padding: 2px 10px;
}

body>footer {
    background-color: #eaf2fb;
    margin: 1rem 0px;
    padding: .2rem 0px;
}

.champ {
    align-content: right;
}

.saisie {
    text-align: left;
}

div {
    margin-bottom: 15px;
}

button:not([type="submit"]) {
    display: inline-block;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: darkslategray;
    background-color: aliceblue;
    border-color: darkslategray;
    border-radius: 10px;
    box-shadow: 0 3px #999;
}

button:hover {
    background-color: aliceblue;
}

button:active {
    background-color: aliceblue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin-left: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    width: 35%;
    height: 35%;
}

.help-block {
    color: red;
}

.feedback {
    background-color: skyblue;
    color: royalblue;
    align-content: center;
    text-align: center
}

#table-professors-list tr:hover {
    background-color: lightsteelblue;
}

#dashboard-container {
    margin-top: 5rem;
}

#actions-container {
    display: flex;
    padding: 1rem;
    flex-direction: column;
}

.action {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 10px 0 10px 0;
}

a.action {
    text-decoration: none;
    color: black;
}

.action:hover {
    background-color: #f7f7f7;
}

.action-logo {
    flex: 2;
}

.action-title {
    font-weight: 700;
    font-size: 1.2em;
}

.action-body-container {
    flex: 10;
}

.csv-messages {
    margin-top: 30px;
}

.buttonBloc {
    margin-top: 20px;
}

.display-errors {
    margin-top: 30px;
}

#formFilter {
    float: right;
    margin: 15px 15px 0;
}

#form-btnAction {
    display: inline;
}
